body {
    margin: 0;
    padding: 0;
    /* background-image: url(''); */
    /* background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
    height: 100vh; 
    width: 100vw;
    background-color: blue;
}

.LandingPageContainer {
    /* margin-top:20%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(rgb(12, 12, 110),rgb(10, 10, 73),black);
}

.LandingPageHead {
    margin-top: 5%;
    color: yellowgreen;
    font-size: 5rem;
    /* margin-bottom: 2.5rem; */
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 12px 24px;
    font-size: 1rem;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    box-shadow: 3px 3px 5px black;
}

.btn:hover {
    background-color: #444;
}
.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background-color: #ffffff; /* Color of the stars */
    border-radius: 50%;
  }
  
  @keyframes twinkle {
    to {
      opacity: 0.5;
    }
  }